

<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li>
        <a href="/Home">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> 首页 </span>
        </a>
    </li>
    <!--UI Elements-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> 订单管理 </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="elements.html">
                    <span class="menu-text">我的订单</span>
                </a>
            </li>
            <li>
                <a href="tabs.html">
                    <span class="menu-text">订单跟踪</span>
                </a>
            </li>
            <li>
                <a href="alerts.html">
                    <span class="menu-text">用户反馈</span>
                </a>
            </li>
            <li>
                <a href="modals.html">
                    <span class="menu-text">处理信息</span>
                </a>
            </li>
            <li>
                <a href="buttons.html">
                    <span class="menu-text">订单审核</span>
                </a>
            </li>
            <li>
                <a href="nestable-list.html">
                    <span class="menu-text"> 订单汇总</span>
                </a>
            </li>
            <li>
                <a href="treeview.html">
                    <span class="menu-text">订单统计</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Tables-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> 客户关系 </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="tables-simple.html">
                    <span class="menu-text">客户资源</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">客情关系</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">客户满意度</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">竞争管理</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">销售计划</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">服务管理</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">常见问题</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Tables-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-truck"></i>
            <span class="menu-text"> 商业智能 </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="tables-simple.html">
                    <span class="menu-text">销售分析</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">产品分析</span>
                </a>
            </li>
            <li>
                <a href="tables-data.html">
                    <span class="menu-text">客户分析</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Forms-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> 产品管理 </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li class="active">
                <a href="form-layouts.html">
                    <span class="menu-text">产品信息</span>
                </a>
            </li>

            <li>
                <a href="form-inputs.html">
                    <span class="menu-text">产品配方</span>
                </a>
            </li>

            <li>
                <a href="form-pickers.html">
                    <span class="menu-text">供应商</span>
                </a>
            </li>
            
        </ul>
    </li>
    
    <!--Calendar-->


    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-paperclip"></i>
            <span class="menu-text"> 字典管理 </span>

            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="timeline.html">
                    <span class="menu-text">订单类别</span>
                </a>
            </li>
            <li>
                <a href="pricing.html">
                    <span class="menu-text">用户职务</span>
                </a>
            </li>

            <li>
                <a href="invoice.html">
                    <span class="menu-text">商品类别</span>
                </a>
            </li>

            <li>
                <a href="login.html">
                    <span class="menu-text">行政区域</span>
                </a>
            </li>
            <li>
                <a href="register.html">
                    <span class="menu-text">价格方式</span>
                </a>
            </li>
            <li>
                <a href="lock.html">
                    <span class="menu-text">支付方式</span>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <span class="menu-text"> 客户等级 </span>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <span class="menu-text"> 客户构成 </span>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <span class="menu-text"> 满意度 </span>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <span class="menu-text"> 竞争等级 </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="active open">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-align-right"></i>
            <span class="menu-text"> 系统管理 </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="/SysUser/Index">
                    <span class="menu-text">用户管理</span>
                </a>
            </li>
           
            <li>
                <a href="/SysRole/Index">
                    <span class="menu-text">角色管理</span>
                </a>
            </li>
            <li>
                <a href="/SysRight/Index">
                    <span class="menu-text">基础权限</span>
                </a>
            </li>
            <li>
                <a href="/SysDepart/Index">
                    <span class="menu-text">单位管理</span>
                </a>
            </li>

        </ul>
    </li>
</ul>


